%h1 New Team

.my-4
  %ul.list-group
    - @team.errors.full_messages.each do |message|
      %li.list-group-item.list-group-item-danger= message

= form_with(model: @team, local: true) do |form|
  .mb-3
    .input-group
      .input-group-text Name
      = form.text_field :name, class: 'form-control'

  = form.submit 'Create Team', class: 'btn btn-primary'
