.row.my-5
  %h1.visually-hidden New Comment

  = turbo_frame_tag 'new_comment', target: '_top' do
    = render partial: 'comment_form', locals: { comment: @comment }
    = link_to 'Back to Topic', team_topic_path(@comment.topic.team, @comment.topic),
      class: 'btn btn-secondary my-3'
