Welcome to AsyncGo!
===============================================

You have been invited to join team "#{@user.team.name}" on AsyncGo.

To sign in go to #{root_url} and use an OAuth account
connected with #{@user.email}. Documentation is available on our
docs site at https://asyncgo.com/docs.

Thanks for joining and have a great day! If you have any issues
you can always reach us at support@asyncgo.com.

If you were not expecting this invitation feel free to ignore or
contact us at the email address above.
