Welcome to AsyncGo.com, #{@user.email}
===============================================

You have been invited to join #{@user.team.name} at AsyncGo.com,
your email is: #{@user.email}.

To login to the site, just follow this link: https://app.asyncgo.com

Thanks for joining and have a great day!
