.table-responsive
  %table.table.table-borderless.table-hover
    %thead.table-light
      %tr
        %th.col-8{ scope: 'col' } Name
        %th.col-2{ scope: 'col' } Creator
        %th.col-2{ scope: 'col' } Opened
    %tbody
      - topic_collection.each do |topic|
        %tr
          %td
            %a{ href: team_topic_path(current_user.team, topic) }= topic.title
          %td= topic.user.email
          %td= topic.created_at.strftime('%b %e')
      - if new_form
        %tr
          %td{ colspan: '3' }
            = link_to 'New Topic', new_team_topic_path(current_user.team),
              class: 'btn btn-primary'
