.row.my-5
  %h1= @topic.title

  = link_to 'Back to Topic', team_topic_path(@topic.team, @topic)

  = render partial: 'shared/form_errors', locals: { model: @topic }
  = render partial: 'topic_form', locals: { topic: @topic, saved_description: @saved_description, saved_outcome: @saved_outcome }
