.row.my-5
  %h2 Active Topics
  = render partial: 'topics', locals: { topic_collection: @active_topics, new_form: true }

.row
  %h2 Closed Topics
  = render partial: 'topics', locals: { topic_collection: @closed_topics, new_form: false }
