%h1 Topics

%table.table
  %thead
    %tr
      %th{ scope: 'col' } Name
      %th{ scope: 'col' } Creator
  %tbody
    - @topics.each do |topic|
      %tr
        %td
          %a{ href: team_topic_path(current_user.team, topic) }= topic.title
        %td= topic.user.email

= link_to 'New Topic', new_team_topic_path(current_user.team), class: 'btn btn-primary'
