= render @topic

%h5.mt-2.border-bottom Comments

.row
  %ul.list-group.list-group-flush#comments
    - @topic_comments.each do |comment|
      %li.list-group-item.mb-2
        = render partial: 'teams/topics/comments/comment', locals: { comment: comment }
.row.mt-3
  != pagy_bootstrap_nav(@pagy)

  - if @topic.active?
    = turbo_frame_tag 'new_comment', src: new_team_topic_comment_path(@topic.team, @topic)
