%h1= @topic.title

= link_to 'All Topics', team_topics_path(@topic.team)

%table.table
  %thead
    %tr
      %th{ scope: 'col' } Comment
  %tbody
    - @topic.comments.each do |comment|
      %tr
        %td= comment.body

= link_to 'New Comment', new_team_topic_comment_path(@topic.team, @topic), class: 'btn btn-primary'
