%markdown-toolbar{ for: "#{form.object_name}_#{name}" }
  %md-bold
    %i.border.border-1.rounded.p-1{ class: 'fas fa-bold' }
  %md-header
    %i.border.border-1.rounded.p-1{ class: 'fas fa-heading' }
  %md-italic
    %i.border.border-1.rounded.p-1{ class: 'fas fa-italic' }
  %md-quote
    %i.border.border-1.rounded.p-1{ class: 'fas fa-quote-right' }
  %md-code
    %i.border.border-1.rounded.p-1{ class: 'fas fa-code' }
  %md-link
    %i.border.border-1.rounded.p-1{ class: 'fas fa-link' }
  %md-unordered-list
    %i.border.border-1.rounded.p-1{ class: 'fas fa-list-ul' }
  %md-ordered-list
    %i.border.border-1.rounded.p-1{ class: 'fas fa-list-ol' }
  %md-task-list
    %i.border.border-1.rounded.p-1{ class: 'fas fa-tasks' }
= form.text_area name, **options
