Here's your AsyncGo Digest
===============================================

This email contains a list of your open notifications in AsyncGo.

- @notifications.each do |notification|
  = notification_text(notification)
  = user_notification_url(@user, notification)

You can change your preference about receiving digests on your user
profile page.
