Here's your AsyncGo Digest
===============================================

This email contains what's happening in your AsyncGo team.

- @notifications.each do |notification|
  = notification_text(notification)
  = user_notification_url(@user, notification)

Recently Opened Topics
- @recentlyopened.each do |topic|
  = link_to topic.name, topic.url

Recently Resolved Topics

- @recentlyresolved.each do |topic|
  = link_to topic.name, topic.url

\---

You can change your preference about receiving digests on your user
profile page.
