Here's your AsyncGo Digest
===============================================

This email contains a list of your open notifications in AsyncGo.

- if @notifications.empty?
  No new notifications.
- else
  - @notifications.each do |notification|
    = notification_text(notification)
    = user_notification_url(notification.user, notification)
