%h1 Here's your AsyncGo Digest
%p
  This email contains what's happening in your AsyncGo team.

%h3 Open Notifications
%p
  - if @notifications.blank?
    None
  - else
    %ul
      - @notifications.each do |notification|
        %li= link_to notification_text(notification),
          user_notification_url(@user, notification)

%h3 Recently Resolved Topics
%p
  - if @recently_resolved_topics.blank?
    None
  - else
    %ul
      - @recently_resolved_topics.each do |topic|
        %li= link_to topic.title, team_topic_url(topic.team, topic)

%hr

%p
  You can change your preference about receiving digests on your user
  profile page.
