Here's your AsyncGo Digest
===============================================
\
This email contains what's happening in your AsyncGo team.
\
Open Notifications
\
- if @unread_notifications.blank?
  None
- else
  - @unread_notifications.each do |notification|
    = notification_text(notification)
    = user_notification_url(@user, notification)
\
Recently Resolved (and recently updated, but already resolved) Topics
\
- if @recently_resolved_topics.blank?
  None
- else
  - @recently_resolved_topics.each do |topic|
    = topic.title
    = team_topic_url(topic.team, topic)
\
\---
\
You can change your preference about receiving digests on your user
profile page.
