%h2 Welcome to AsyncGo
%br
%p
  Documentation is available on our #{link_to('docs site', 'https://docs.asyncgo.com')}
  and general product information can be found on our
  #{link_to('home page', 'https://asyncgo.com')}.

%p
  Cookie consent policy (and choices), privacy policy, and terms of use can be found on our
  #{link_to('main website', 'https://asyncgo.com/policies.html')}. These policies are for use of
  asyncgo.com, the documentation site, and also this application itself.
