%h2 Welcome to AsyncGo
%br
%p
  Documentation is available on our #{link_to('docs site', 'https://docs.asyncgo.com')}
  and general product information can be found on our
  #{link_to('home page', 'https://asyncgo.com')}.
