%h2 Welcome to AsyncGo
%br
%p
  Documentation is available on our
  %a{ href: 'https://docs.asyncgo.com' } docs site
  and general product information can be found on our
  %a{ href: 'https://asyncgo.com' } home page
