/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Theme colors: https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */
$primary: #3d5a80;
$secondary: #6c757d;
$info: #e0fbfc;
$accent: #ee6c4d;
$light: #f8f9fa;
$dark: #293241;
$success: #198754;
$warning: #ffc107;
$danger: #dc3545;
$risk: #ffffcc;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "risk":       $risk,
  "light":      $light,
  "dark":       $dark
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'tributejs/src/tribute';
@import 'driver.js/src/driver';

@import 'codemirror/lib/codemirror';
@import '@toast-ui/editor/dist/toastui-editor';

.tui-editor-contents {
  font-size: 1rem;
  word-wrap: break-word;

  > {
    ol, ul {
      margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}

// Accessibility fixes for editor
.te-mode-switch {
  > {
    .markdown {
      color: #333;
    }
    .wysiwyg {
      color: #333;
    }
  }
}

.navbar-brand img {
  width: 3rem;
}

.navbar {
  min-height: 5rem;
}

.text-faded {
  color: $gray-400;
}

.gravatar-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .25rem;
  border: 1px solid #333;
}

blockquote {
  background: #f9f9f9;
  color: #333;
  padding: 0.25rem 1.25rem;
  font-size: 1rem;
  margin: 0 0 20px;
  border-left: 5px solid #ccc;
}

.topic-label {
  color: #333;
  font-size: small;
  font-weight: normal;
  height: 1.5rem;
  border: 1px solid #777;
  padding: .25rem;
  border-radius: .25rem !important;
}

.notification-dropdown .dropdown-menu {
  max-height: 20rem;
}

@include media-breakpoint-up(lg) {
  .notification-dropdown .dropdown-menu {
    width: 25rem;
  }
}

.btn-google, .btn-google:hover {
  color: #fff;
  background-color: #d52d28;
}

.btn-github, .btn-github:hover {
  color: #fff;
  background-color: #000;
}

.btn-microsoft, .btn-microsoft:hover {
  color: #fff;
  background-color: #0078d4;
}

.btn-slack, .btn-slack:hover {
  color: #fff;
  background-color: #007a5a;
}
