/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #203864;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'tributejs/src/tribute.scss';
@import 'bootstrap-dark-5/dist/css/bootstrap-nightshade';

.navbar-brand img {
  width: 3rem;
}

.navbar {
  min-height: 5rem;
}

.text-faded {
  color: $gray-400;
}

.gravatar-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .25rem;
  border: 1px solid #333;
}

.notification-dropdown .dropdown-menu {
  max-height: 20rem;
}

@include media-breakpoint-up(lg) {
  .notification-dropdown .dropdown-menu {
    width: 25rem;
  }
}
