/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #203864;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'tributejs/src/tribute';
@import 'driver.js/src/driver';

.navbar-brand img {
  width: 3rem;
}

.navbar {
  min-height: 5rem;
}

.text-faded {
  color: $gray-400;
}

.gravatar-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .25rem;
  border: 1px solid #333;
}

.bg-offset {
  background-color: $light;
}

.user-content {
  word-wrap: break-word;

  > {
    ol, ul {
      margin-bottom: 1rem;
    }
  }

  > {
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }
    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
  }
}

.topic-label {
  background: lightgray;
  color: #333;
  font-size: small;
  height: 1.5rem;
  border: 1px solid #333;
  padding: .25rem;
  border-radius: .25rem !important;
}

.notification-dropdown .dropdown-menu {
  max-height: 20rem;
}

@include media-breakpoint-up(lg) {
  .notification-dropdown .dropdown-menu {
    width: 25rem;
  }
}

.btn-google, .btn-google:hover {
  color: #fff;
  background-color: #d52d28;
}

.btn-github, .btn-github:hover {
  color: #fff;
  background-color: #000;
}

.btn-microsoft, .btn-microsoft:hover {
  color: #fff;
  background-color: #0078d4;
}

.btn-slack, .btn-slack:hover {
  color: #fff;
  background-color: #007a5a;
}
