@import 'bootstrap-dark-5/scss/bootstrap-nightfall';

@media (prefers-color-scheme: dark) {

  @import 'froala-dark';

  .list-group-item {
    background-color: #181818;
  }
  .form-control {
    background-color: #101010;
  }
  .form-control:focus {
    background-color: #181818;
  }  
  body {
    background-color: #181818;
  }
  .tribute-container li.highlight {
    background-color: #202020;
  }
  .tribute-container li {
    background-color: #101010;
  }
}
